<div class="flex flex-col gap-3 p-3 bg-gray-800">
   <div class="flex gap-3">
      <div
         class="border border-gray-200 rounded-lg shadow p-3 flex flex-col flex-1 bg-blue-50"
         *ngFor="let benchmark of benchmarks"
      >
         <div
            class="text-lg font-bold text-center p-3 border-b mb-3 sticky top-0 bg-blue-50"
         >
            {{ benchmark.title }}

            <button
               class="absolute right-3 font-normal bg-violet-700 text-white px-2 rounded hover:bg-violet-800 cursor-pointer"
               (click)="onRunClick(benchmark)"
            >
               Run
            </button>
         </div>

         <div
            class="border border-gray-100 rounded-md shadow-sm px-2 divide-y divide-gray-100 mb-3 bg-white hover:shadow-md hover:border-blue-300 transition-all"
            *ngFor="let result of benchmark.stepGroups"
         >
            <ng-container *ngFor="let item of result.steps">
               <div
                  *ngTemplateOutlet="record; context: { $implicit: item }"
               ></div>
            </ng-container>
         </div>
      </div>
   </div>
</div>

<ng-template #record let-rec>
   <div class="flex py-1">
      <div class="text-gray-600">
         {{ rec.operation }} {{ rec.active ? '...' : '' }}
      </div>
      <div class="flex-1"></div>
      <div class="text-gray-800 font-semibold">
         {{ getDuration(rec.duration) }}
      </div>
   </div>
</ng-template>

<!-- <button (click)="startStream()">Start Stream</button>
<button (click)="stopStream()">Stop Stream</button>

<div class="total-rows">
   {{ response?.totalrows }}
</div>
<div class="time-stamps">
   <div class="time-stamp" *ngFor="let item of response?.timestampsList">
      {{ item }}
   </div>
</div>
<div class="results">
   <div class="result" *ngFor="let item of response?.dataList">
      {{ item.field1 }}
   </div>
</div> -->
